<% include ./partials/header.ejs %>
<div class="profile min-h-screen w-full bg-zinc-800 text-white pt-1">
    <form hidden id="uploadform" action="/fileupload" method="post" enctype="multipart/form-data">
        <input type="file" name="image">
    </form>
    <div class="profdets flex flex-col items-center mt-20">
        <div class="relative">
            <span id="uploadicon" class="w-8 h-8 absolute bottom-0 right-0 bg-zinc-200 rounded-full flex items-center justify-center">
                <i class="ri-pencil-line text-zinc-800"></i>
            </span>
            <div class="w-32 h-32 rounded-full bg-zinc-200 overflow-hidden" >
                <img class="h-full w-full object-cover"src="/images/uploads/<%= user.profileImage %>" alt="">
            </div>
        </div>
        <h1 class="text-3xl font-semibold mt-5"><%= user.fullname %></h1>
        <h3 class="text-md">@<%= user.username %></h3>
        <a href="/edit" class="mt-5 px-7 py-2 bg-zinc-500 rounded-full text-xs font-semibold">Edit</a>
        <a href="/add" class="px-10 py-2 bg-red-700 rounded-lg text-xs font-semibold mt-3">Add new Post</a>
    </div>
    <div class="cards flex flex-wrap items-center gap-10 px-10 mt-10">
        <div class="card" id="show-card">
            <div class="w-52 h-40 bg-zinc-200 rounded-lg overflow-hidden">
                <img class="w-full h-full object-cover " src="/images/uploads/<%= user?.posts[0]?.Image%>" alt="">
            </div>
            <a href="show/posts" class="text-xl font-semibold mt-3">Your Uploaded Pins</a>
            <h5 class="text-sm font-medium opacity-60"><%=user.posts.length%> Pins</h5>
        </div>
    </div>
</div>
<script>
    document.querySelector("#uploadicon").addEventListener("click",function(){
        document.querySelector("#uploadform input").click()
    })
    document.querySelector("#uploadform input").addEventListener("change",function(){
        document.querySelector("#uploadform").submit()
    })
    document.querySelector("#show-card").addEventListener("click",function(){
        document.querySelector("#show-card a").click()
    })
</script>
<% include ./partials/footer.ejs %>